article {
    background: linear-gradient(
      to right, 
      hsl(98 100% 62%), 
      hsl(204 100% 59%)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
  }
  
  h1 {
    font-size: 2.2em;
    letter-spacing: 2px;
    line-height: 1.1;
    margin: 0;
  }