.SnapShot_Card {
    background-color: rgb(5, 26, 51);
    /* background-image: linear-gradient(100deg, #d4f1ff, #ffffff); */
    box-shadow: rgb(0 0 0 / 10%) 1px 1px 3px;
    border-radius: 15px;
    width: 100%;
    max-width: 600px;
    min-height: 20em;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
.outer{
  width: 100%;
  height: 100%;
}
.downloading{
  color: rgb(74, 111, 161);
  margin-top: 2em;
}
.SnapShot_Card input{
    margin-top: 0.8em;
    font-size: 1.2em;
    font-weight: 100;
    padding: 0.5em 1.2em;
    width: 80%;
    outline: none;
    margin-bottom: 2em;
    border-radius: 50px;
    box-shadow: rgb(0 0 0 / 20%) 1px 1px 3px;
    background-image: linear-gradient(rgb(3, 16, 39) 0%, rgb(2, 16, 29)); 
    border: none;
    color: rgb(74, 111, 161);
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(74, 111, 161);
  font-weight: 200;
  letter-spacing: 1px;
}



/* CSS */
.button-85 {
  letter-spacing: 1px;  
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-85:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.button-85:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}